* {
    margin: 0;
    padding: 0;
}

.grid-container {
    font-size: 40px;
    display: grid;
    grid-template-columns: 200px 200px;
}

.grid-item-1 {
    background-color: aqua;
}

.grid-item-2 {
    background-color: blue;
}

.grid-item-3 {
    background-color: brown;
}

.grid-item-4 {
    background-color: yellow;
}

.grid-item-5 {
    background-color: springgreen;
    grid-row: 3 / 5; /* grid-row: 3 / span 2 */
}

.grid-item-6 {
    background-color: saddlebrown;
}

.grid-item-7 {
    background-color: purple;
}