* {
    margin: 0;
    padding: 0;
}

.grid-container {
    font-size: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 400px;
    height: 1000px;
    justify-items: center; /* default is strecth, this aligns items on the row axis */
    align-items: center; /* default is strecth, this aligns items on the column axis */
}

.grid-item-1 {
    background-color: aqua;
}

.grid-item-2 {
    background-color: blue;
}

.grid-item-3 {
    background-color: brown;
}

.grid-item-4 {
    background-color: yellow;
}

.grid-item-5 {
    background-color: springgreen;
}

.grid-item-6 {
    background-color: saddlebrown;
}

.grid-item-7 {
    background-color: purple;
}

.grid-item-8 {
    background-color: orange;
}